.qual-layout-container {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.qual-list {
  padding-top: 3rem;
  display: grid;
  gap: 1rem;
}

.qual-connector {
  display: block;
  position: absolute;
  bottom: 170px;
  width: 1px;
  height: 420px;
  background-color: var(--clr-accent-600);
}

.qual-connector.edu {
  bottom: 760px;
}

@media (min-width: 40em) and (max-width: 55em) {
  .qual-connector {
    bottom: 180px;
  }

  .qual-connector.edu {
    bottom: 770px;
  }
}

@media (min-width: 55em) {
  .qual-connector {
    bottom: 180px;
  }

  .qual-connector.edu {
    bottom: 180px;
  }
}

@media (min-width: 70em) {
  .qual-connector {
    bottom: 185px;
  }

  .qual-connector.edu {
    bottom: 185px;
  }
}
